<phpunit
        colors = "true"
        bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Checker">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory>src/Resources/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>